@page "/"
@page "/index.html"
@inject IJSRuntime JsRuntime

<div id="canvasHolder" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #000;">
    <canvas id="theCanvas" style="touch-action:none;"></canvas>
</div>
